#header {
  height: 50vh;
  width: 100%;
}

#header a, #voceecontraapirataria a {
  color: black;
  text-decoration: none;
}

p {
  text-align: justify;
}

#botoes {
  max-width: 80vw;
}

.oldLondon {
  font-family: 'Old London', sans-serif;
}

@font-face {
  font-family: 'Old London';
  src: url('assets/OldLondon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}